registry "https://registry.npm.taobao.org"
phantomjs_cdnurl "http://cnpmjs.org/downloads"
electron_mirror "https://npm.taobao.org/mirrors/electron/"
chromedriver_cdnurl "https://cdn.npm.taobao.org/dist/chromedrive