@charset "UTF-8";
/* @font-face {
	font-family: "syht";
	src: url("../fonts/SourceHanSansCN-Regular.woff2") format("woff2"), url("../fonts/SourceHanSansCN-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
} */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote {
  margin: 0;
  padding: 0;
}
body {
  color: #333;
  font-size: 14px;
  font-family: 'PingFang', 'PingFang SC', 'syht', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
  user-select: none;
}
::-webkit-scrollbar {
  display: none;
}
td,
th,
caption {
  font-size: 14px;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: middle;
  max-width: 100%;
}
ol,
ul,
li {
  list-style: none;
}
input,
textarea,
select,
button {
  font: 14px 'PingFang', 'PingFang SC', 'syht', 'Microsoft YaHei', '黑体', '宋体', sans-serif;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: textfield !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
table {
  border-collapse: collapse;
}
/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 重置 hr */
hr {
  border: none;
  height: 1px;
}
input[type='button'],
input[type='submit'],
input[type='file'],
button {
  cursor: pointer;
  -webkit-appearance: none;
}
a,
a:hover,
a:active,
a:visited,
a:link,
a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  /*	background: none;*/
  text-decoration: none;
}
/*公共类*/
.clearfix {
  zoom: 1;
}
.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
  clear: both;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.al {
  text-align: left !important;
}
.ac {
  text-align: center !important;
}
.ar {
  text-align: right !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.ml0 {
  margin-left: 0 !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.over-line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.over-line2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.over-line3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.over-line4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.over-line5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
